<launch>
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 'map' 'lisa' 100" />
  <node name="localizer" pkg="lisa" type="localizer" />
  <node name="navigator" pkg="lisa" type="navigator" />
  <node name="waypoint_manager" pkg="lisa" type="waypoint_manager" />

  <!-- Swap in actual HW modules here as they're available -->
  <node name="imu_simulator" pkg="lisa" type="imu_simulator" />
  <node name="wheel_encoder_simulator" pkg="lisa" type="wheel_encoder_simulator" />
</launch>
