<launch>
  <!-- TODO(ppg): set these based on environment variables (i.e. $(env ENV_NAME)) for dev envs;
       and/or use arguments passed into roslaunch to control target env, simulations, etc. -->
  <!-- TODO(ppg): create a .launch file with just params for beaglebone to lock configuration there and run via systemd;
       run all other nodes via systemd directly when go eventually -->
  <param name="/drivetrain/steering/type" type="string" value="beaglebone" />
  <param name="/drivetrain/steering/pin" type="string" value="P8_13" />
  <param name="/drivetrain/speed/type" type="string" value="beaglebone" />
  <param name="/drivetrain/speed/pin" type="string" value="P9_14" />
  <param name="/sensors/wheel_encoder/type" type="string" value="beaglebone" />
  <param name="/sensors/wheel_encoder/pin" type="string" value="P9_14" />
  <param name="/hal/map_location" type="string" value="/root/weird_science/waypoints.yaml" />

  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 'map' 'lisa' 100" />
  <node name="localizer" pkg="lisa" type="localizer" output="screen"/>
  <!-- TODO(ppg): enable when python works with catkin_make -->
  <!-- <node name="wheel_encoder" pkg="lisa" type="wheel_encoder" /> -->

  <node name="navigator" pkg="lisa" type="navigator" output="screen"/>
  <node name="waypoint_manager" pkg="lisa" type="waypoint_manager" output="screen"/>
  <!-- <node name="occupancy_map" pkg="lisa" type="occupancy_map" /> -->

  <!-- Simulation -->
  <node name="imu_simulator" pkg="lisa" type="imu_simulator" />
  <!-- <node name="wheel_encoder_simulator" pkg="lisa" type="wheel_encoder_simulator" /> -->
</launch>
