<launch>
  <!-- TODO(ppg): set these based on environment variables (i.e. $(env ENV_NAME)) for dev envs;
       and/or use arguments passed into roslaunch to control target env, simulations, etc. -->
  <!-- TODO(ppg): create a .launch file with just params for beaglebone to lock configuration there and run via systemd;
       run all other nodes via systemd directly when go eventually -->
  <param name="/drivetrain/steering/type" type="string" value="firmata" />
  <param name="/drivetrain/steering/port" type="string" value="/dev/cu.usbmodem1421" />
  <param name="/drivetrain/steering/pin" type="string" value="3" />
  <param name="/drivetrain/speed/type" type="string" value="firmata" />
  <param name="/drivetrain/speed/port" type="string" value="/dev/cu.usbmodem1421" />
  <param name="/drivetrain/speed/pin" type="string" value="10" />

  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 'map' 'lisa' 100" />
  <node name="localizer" pkg="lisa" type="localizer" />
  <node name="navigator" pkg="lisa" type="navigator" />
  <node name="waypoint_manager" pkg="lisa" type="waypoint_manager" />
  <node name="occupancy_map" pkg="lisa" type="occupancy_map" />

  <!-- Swap in actual HW modules here as they're available -->
  <node name="imu_simulator" pkg="lisa" type="imu_simulator" />
  <node name="wheel_encoder_simulator" pkg="lisa" type="wheel_encoder_simulator" />
</launch>
